.gallery img{
    width: 50%;
}

h2{
    font-family: Impact, fantasy;
    text-align: center;
    font-size: 30px;
    color: cornflowerblue;
    font-style: italic;
}

h4{
    font-family: Impact, fantasy;
    font-size: 20px;
    font-style; italic;
    color: cornflowerblue;
  
}


table{
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: cornflowerblue;
}

th{
    font-weight: 800;
    background-color: cornflowerblue;
    color:white;
    
}

input{
    width: 100%;
    height: 25px;
    margin: 12px 0;
    border: 1px solid #929292;
}

textarea{
    width:100%;
    height: 65px;
    margin: 12px 0;
    border: 1px solid #929292;
}
.button{
    display: block;
    background-color: cornflowerblue;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
}
p{
    font-family: Helvetica, sans-serif;
}

#menu{
    width: 100%;
        height: 40px;
    background-color: cornflowerblue;
    padding-top: 12px;
}

#menu a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
        font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    
    padding-left: 20px;
    padding-right: 20px;
}
#menu a:hover{
    color: #5077bd;

        
    